<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="http://npmcdn.com/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="/socket.io/socket.io.js" charset="utf-8"></script>
  <script src="/js/geister.js" charset="utf-8"></script>
  <title>geister</title>
</head>
<body ng-controller="rootCtrl as ctrl">

  <button type="button" ng-click="ctrl.reloadRooms()">更新</button>

  <table>
    <thead>
      <tr>
        <th>部屋ID</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="room in ctrl.rooms">
        <td>{{room.id}}</td>
        <td><button type="button" ng-click="ctrl.joinRoom(room.id)">入る</button></td>
      </tr>
    </tbody>
  </table>

  <hr>

  <div>
    <button type="button" ng-click="ctrl.createRoom()">部屋を作る</button>
  </div>

  <hr>

  <div>
    joinedRoomId: {{ctrl.joinedRoomId}}
  </div>

  <div ng-if="ctrl.joinedRoomId">
    <div>
      <input type="text" ng-model="ctrl.inputMessage">
      <button type="button" ng-click="ctrl.message()">message</button>
    </div>
    <div>
      <div ng-repeat="message in ctrl.messages" style="border-top: 1px solid #ddd;">
        {{message}}
      </div>
    </div>
  </div>
</body>
</html>
