<div class="wrapper" ng-class="{on: $ctrl.isShowForm}" visibility="$root.me.initialized | qstate:'succeeded'">
  <div class="view">
    <span>{{$root.me.name || '(なまえを設定してください)'}}</span>
    <button type="button" ng-click="$ctrl.showForm()">
      <i class="fa fa-fw fa-pencil"></i>
      <!-- <span>{{$root.me.name ? '変更' : '設定'}}</span> -->
    </button>
  </div>
  <form name="form" ng-submit="$ctrl.updateName()" novalidate>
    <input type="text" name="name" ng-model="$ctrl.nameTemp">
    <button type="submit" ng-disabled="!$ctrl.nameTemp.length || $ctrl.sending">
      <i class="fa fa-fw fa-check"></i>
      <!-- <span>送信</span> -->
    </button>
    <button type="button" ng-click="$ctrl.cancel()" ng-disabled="$ctrl.sending">
      <i class="fa fa-fw fa-times"></i>
      <!-- <span>キャンセル</span> -->
    </button>
  </form>
</div>
