<div ng-if="$ctrl.initialized | qstate:'succeeded'">

  <ul class="players">
    <li ng-repeat="userType in ['host','guest']" ng-init="player = $ctrl.players[userType]">
      {{player}}
    </li>
  </ul>

  <div>
    <span>you are {{$ctrl.userType}}</span>
  </div>

  <div>
    {{$ctrl.players | json}}
  </div>

  <hr>

  <room-formation ng-if="!$ctrl.players[$ctrl.userType].ready"></room-formation>

  <hr>

  <room-playfield ng-if="$ctrl.showField"></room-playfield>

  <hr>

  <div>
    won: {{$ctrl.won}}
  </div>
</div>
