<div>
  turn: {{$ctrl.turn}}
</div>

<div ng-if="$ctrl.field">
  <table border="1">
    <tbody>
      <tr ng-repeat="row in $ctrl.field track by $index">
        <td ng-repeat="cell in row track by $index" ng-click="$ctrl.onClickCell(cell)">
          {{cell.type == '0' ? '&emsp;' : cell.type}}
        </td>
      </tr>
    </tbody>
  </table>

  <div ng-if="$ctrl.selected.isEscapable()">
    <button type="button" ng-click="$ctrl.onClickEscape()">escape</button>
  </div>
</div>

<div>
  select: {{$ctrl.selected}}
</div>

<div>
  result: {{$ctrl.result}}
</div>

<div>
  userStatus: {{$ctrl.userStatus}}
</div>

<div>
  network: {{$ctrl.emitting.$$state.status}}
</div>
