<div class="buttons">
  <button type="button" ng-click="$ctrl.reload()" ng-disabled="$ctrl.reloading | qstate:'succeeded' | not">
    <i class="fa fa-fw fa-refresh"></i>
    <span>リスト更新</span>
  </button>
  <button type="button" ng-click="$ctrl.create()" ng-disabled="$ctrl.disableCreateButton()">
    <i class="fa fa-fw fa-plus"></i>
    <span>部屋をつくる</span>
  </button>
</div>

<div class="table-wrapper">
  <table>
    <tbody>
      <tr ng-repeat="room in $ctrl.rooms">
        <td>
          <button type="button" ng-click="$ctrl.join(room)" ng-disabled="$ctrl.disableJoinButton(room)">
            <i class="fa fa-fw fa-sign-in"></i>
            <span>参加</span>
          </button>
          <span class="label" ng-class="room.status">{{room.status | roomStatus}}</span>
          <span>{{room.players.host.name}}</span>
          <span class="date">{{room.createdAt.fromNow()}}</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
