<div>
  <form name="form" ng-submit="ctrl.updateName()" novalidate>
    <label>name:</label>
    <input type="text" name="name" ng-model="ctrl.model.name">
    <button type="submit" ng-disabled="!ctrl.model.name.length">submit</button>
  </form>
</div>

<hr>

<div>
  <span>{{ctrl.token}}</span>
</div>

<div>
  <button type="button" ng-click="ctrl.createRoom()">createRoom</button>
  <button type="button" ng-click="ctrl.reload()">getRooms</button>
</div>

<hr>

<table border="1">
  <thead>
    <tr>
      <th>join</th>
      <th>status</th>
      <th>token</th>
      <th>createdAt</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="room in rooms">
      <!-- TODO 参加ボタンはいつでも押せるようにする．参加してみて弾かれたら戻る -->
      <td><button type="button" ng-disabled="room.status != 'accepting'" ng-click="ctrl.join(room)">join</button></td>
      <td>{{room.status}}</td>
      <td>{{room.token}}</td>
      <td>{{room.createdAt}}</td>
    </tr>
  </tbody>
</table>
