@import "../_import.scss";

$trs: 0.22s;
$light: rgb(248, 248, 248);
$lighten: rgb(230, 230, 230);
$gray: gray;

body {
  margin: 0;
  padding: 0;
}

// -- header
header {
  background-color: $light;
  box-shadow: 0 0 5px $gray;

  h1 {
    margin: 0;
    font-size: 1rem;
    padding: 0.5rem;
  }
}

name-editor {
  $height: 3rem;

  overflow: hidden;
  height: $height;
  display: block;
  margin-top: 0.5rem;

  > .wrapper {
    position: relative;
    top: 0;
    transition: top $trs ease;
    visibility: hidden;
    &.visible {
      visibility: visible;
    }

    &.on {
      top: -$height;
    }

    > * {
      display: block;
      // height: $height;
      line-height: $height;
      padding: 0 0.5rem;
    }

    button {
      font-size: 0.8rem;
      border: 1px solid $gray;
      background-color: white;
      cursor: pointer;
      transition: $trs ease;
      vertical-align: middle;

      &:hover {
        background-color: $gray;
        color: white;
      }
    }

    input {
      font-size: 1rem;
      padding: 0.3rem;
      border: 1px solid $gray;
      background-color: white;
    }
  }
}
